body {
    margin: 0;
    background-color: #121212;
    font-family: 'Segoe UI', Roboto, sans-serif;
    color: white;
	font-family: "Roboto Flex", sans-serif;
    overflow: hidden;
}

.control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 70%, transparent 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.control-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 80px;
}

.icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    transition: background 0.2s ease, transform 0.1s;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 300;
    font-size: 26px;
    color: #efefef;
    transition: all 0.2s ease;
}

.btn-label {
    font-size: 11px;
    color: #b0b0b0;
    text-align: center;
    transition: color 0.2s ease;
}

/* ACTIVE CIRCLE EFFECT */
.control-btn.active .icon-circle {
    background: #e0e0e0;
}

.control-btn.active .material-symbols-rounded {
    color: #1b1b1c;
    font-variation-settings: 'FILL' 1, 'wght' 500;
}

.control-btn.active .btn-label {
    color: #ffffff;
    font-weight: 500;
}

.control-btn:active .icon-circle {
    transform: scale(0.9);
}

video {
    width: 100%;
    height: auto;
    background: black;
}

/* 🔘 Custom play/pause button */
.player-controls-container {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    display: none;
    /* hidden by default */
    z-index: 10;
}

/* 🎯 Show button ONLY in fullscreen */
:fullscreen .player-controls-container {
    display: block;
}



.control-btn-data {
    width: 20vw;
    border-radius: 10px;
    height: 80%;
    background-color: rgba(5, 4, 4, 0.6);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    z-index: 10;
}

.data-title {
	font-size: 18px;
    font-weight: 600;
	
}

:fullscreen .control-btn-data {
    display: block;
}